body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

h1.sitetitle {
  display: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

footer a {
  color: #888;
  text-decoration: none;
}
